.App {
  text-align: center;
  background-color: #282c34;
}
.titleImages{
  margin-top: 10%;
}
.Titles{
  text-align: center;
  display: grid;
  grid-auto-columns: 270px;
  grid-auto-rows: 300px;
  grid-template-columns: auto auto auto auto auto auto;
  
}
#gridTitles{
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
}
#card{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

}
.container{
  cursor: pointer;
  width: fit-content;
  margin-left: 45%;
}